BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 4
UseTab: Never
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: BinPack
SortIncludes: CaseSensitive
InsertNewlineAtEOF: true
