# CMake build directory
build/

# Git worktrees
.worktrees/

# Visual Studio Code project settings
.vscode/

# Qt Creator project settings
CMakeLists.txt.user

# MacOS Desktop Service Store file
.DS_Store
