[submodule "src/thirdparty/Eigen"]
	path = src/thirdparty/Eigen
	url = https://github.com/OpenImageDebugger/eigen.git
	branch = v3.4
[submodule "resources/giwscripts/thirdparty/pysigset"]
	path = resources/giwscripts/thirdparty/pysigset
	url = https://github.com/csantosbh/pysigset.git
	branch = v0.3
