[submodule "src/thirdparty/Eigen"]
	path = src/thirdparty/Eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = master
[submodule "src/thirdparty/imgui"]
	path = src/thirdparty/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "src/thirdparty/SDL"]
	path = src/thirdparty/SDL
	url = https://github.com/libsdl-org/SDL
	branch = release-2.30.x
