language: cpp

matrix:
 include:
  - os: osx

  - os: linux
    dist: bionic
    
  - os: linux
    dist: focal

addons:
  homebrew:
    packages:
      - qt5
    update: false
  apt:
    packages:
      - qt5-default
      - libqt5opengl5-dev
      - python2.7-dev
      - python3-dev
      - pkg-config
    update: true

before_install:
 # Allow qmake to be called via CLI on MacOS
  - if [ $TRAVIS_OS_NAME = osx ]; then brew link qt5 --force; fi

script:
  - mkdir build && cd build
  - cmake .. -DCMAKE_BUILD_TYPE=release -DCMAKE_INSTALL_PREFIX=/tmp
  - make -j8
  - make install
