BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
ColumnLimit: 80
IndentWidth: 4
UseTab: Never
PointerBindsToType: true
Cpp11BracedListStyle: true
AlignAfterOpenBracket: true
AlignEscapedNewlinesLeft: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BinPackArguments: false
AlwaysBreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AlignOperands: true
BraceWrapping:
  AfterFunction: true
  AfterNamespace: true
  AfterClass: true
  AfterStruct: true
  AfterUnion: true
BreakBeforeBraces: Custom
MaxEmptyLinesToKeep: 2
SortIncludes: true
SpaceBeforeAssignmentOperators: true

