# The MIT License (MIT)

# Copyright (c) 2015-2025 OpenImageDebugger contributors
# (https://github.com/OpenImageDebugger/OpenImageDebugger)

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to
# deal in the Software without restriction, including without limitation the
# rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
# sell copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
# IN THE SOFTWARE.

name: Build

on:
  pull_request:
  workflow_call:

jobs:
  build:
    name: Build (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            ubuntu-22.04,
            ubuntu-24.04,
            macos-15,
            macos-15-intel,
            macos-26,
          ]
        ccache-variant: [ccache]
        profile: [default]
        include:
          - os: ubuntu-22.04
            container: ghcr.io/openimagedebugger/oid:22.04
          - os: ubuntu-24.04
            container: ghcr.io/openimagedebugger/oid:24.04
          - os: windows-2025
            ccache-variant: "sccache"
            profile: "mingw-profile"
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          fetch-depth: 1
          fetch-tags: true
          submodules: "recursive"
          # see https://github.com/orgs/community/discussions/25702#discussioncomment-6313966
          persist-credentials: false

      - name: Setup Python (Ubuntu)
        if: contains(matrix.os, 'ubuntu')
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # 5.6.0
        with:
          python-version: 3.x

      - name: Setup Conan
        id: setup-conan
        uses: conan-io/setup-conan@434f093a557d1ee6972c4ed78693c3191653537b # 1.1.0

      - name: Restore Conan cache
        id: restore-conan-cache
        uses: actions/cache/restore@5a3ec84eff668545956fd18022155c47e93e2684 # 4.2.3
        with:
          enableCrossOsArchive: false
          path: ${{ steps.setup-conan.outputs.conan-home }}
          key: conan-${{ matrix.os }}-build-${{ hashFiles('conanfile.txt', 'conan-profiles/**') }}
          restore-keys: |
            conan-${{ matrix.os }}-build-

      - name: Copy Conan profiles
        run: |
          cp conan-profiles/* '${{ steps.setup-conan.outputs.conan-home }}/profiles'

      - name: Conan install
        run: |
          conan install . -pr=${{ matrix.profile }} --output-folder=. --build=missing --update --settings=compiler.cppstd=17 --settings=tools.cmake.cmaketoolchain:generator=Ninja

      - name: Save Conan cache
        if: ${{ steps.restore-conan-cache.outputs.cache-hit != 'true' }}
        uses: actions/cache/save@5a3ec84eff668545956fd18022155c47e93e2684 # 4.2.3
        with:
          enableCrossOsArchive: false
          path: ${{ steps.setup-conan.outputs.conan-home }}
          key: conan-${{ matrix.os }}-build-${{ hashFiles('conanfile.txt', 'conan-profiles/**') }}

      - name: Setup ${{ matrix.ccache-variant }}
        uses: hendrikmuhs/ccache-action@5ebbd400eff9e74630f759d94ddd7b6c26299639 # 1.2.20
        with:
          verbose: 1
          key: ${{matrix.os}}-${{github.ref_name}}
          restore-keys: |
            ${{matrix.os}}-${{github.ref_name}}
            ${{matrix.os}}-main
          append-timestamp: true
          variant: ${{ matrix.ccache-variant }}

      - name: Install Qt (Windows)
        if: contains(matrix.os, 'windows')
        uses: jurplel/install-qt-action@d325aaf2a8baeeda41ad0b5d39f84a6af9bcf005 # 4.3.0
        with:
          version: "6.2.4"
          aqtversion: "==3.3.*"
          arch: 'win64_mingw'
          setup-python: false
          cache: true

      - if: matrix.os == 'macos-15' || matrix.os == 'macos-26'
        name: Install Qt (macOS - arm64)
        run: |
          brew install qtbase
          echo "PATH=/opt/homebrew/opt/qt@6/bin:$PATH" >> "$GITHUB_ENV"

      - if: matrix.os == 'macos-15-intel'
        name: Install Qt (macOS - intel)
        run: |
          brew install qtbase
          echo "PATH=/usr/local/opt/qt@6/bin:$PATH" >> "$GITHUB_ENV"

      # Use YAML's folded style (>) to keep the command readable across multiple lines,
      # but have it executed as a single line in the shell. This is necessary for Windows 'cmd' steps
      # to ensure all commands run in the same shell session and directory changes persist.
      - name: Build (Windows)
        if: contains(matrix.os, 'windows')
        shell: cmd
        env:
          CMAKE_C_COMPILER_LAUNCHER: sccache
          CMAKE_CXX_COMPILER_LAUNCHER: sccache
        run: >
          build\Release\generators\conanbuild.bat &&
          cmake --version &&
          cmake --preset conan-release -DCMAKE_INSTALL_PREFIX=out -G "Ninja" &&
          cmake --build build\Release --target install

      - name: Build (Unix)
        if: ${{ !contains(matrix.os, 'windows') }}
        shell: bash
        env:
          CMAKE_C_COMPILER_LAUNCHER: ccache
          CMAKE_CXX_COMPILER_LAUNCHER: ccache
        run: |
          source build/Release/generators/conanbuild.sh
          cmake --version
          cmake --preset conan-release -DCMAKE_INSTALL_PREFIX=out -G "Ninja"
          # see https://stackoverflow.com/a/24470998/5843895 and https://cliutils.gitlab.io/modern-cmake/chapters/intro/running.html
          cmake --build build/Release --target install

      - name: Tar files
        shell: bash
        run: tar --strip-components 1 -cvf build-${{ matrix.os }}.tar out

      - name: Upload build
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # 6.0.0
        with:
          name: build-${{ matrix.os }}
          path: build-${{ matrix.os }}.tar
